/* Títulos */
.section-title {
    color: var(--texto);
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

/* Contenedores de productos en general*/
.productosDestacadosCarrusel,
.productosDestacados,
.productosNormales {
    padding: 15px;
}

.productosDestacados {
    display: flex;
    gap: 15px;
    overflow-x: auto; /*Esto hace que se muestre una barra para moverse si el contenido es más ancho que el contenedor mismo */
    scroll-snap-type: x mandatory; /*Esto hace que pase de elemento en elemento como en un carrusel normal  */
    padding-bottom: 10px;
    border-bottom: 1px solid var(--accent);
    scroll-behavior: smooth; /* Como indica su nombre da suavidad al scroll horizontal */
}


.productosNormales {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.product-card {
    flex: 0 0 auto;
    width: 220px;
    background-color: var(--background);
    filter: brightness(120%); /*Con esto consigo que se vea más el container de la tarjeta del producto */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0,0,0.6);
    scroll-snap-align: start;
}

.product-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-label {
    top: 8px;
    left: 8px;
    background-color: var(--accent);
    color: var(--background);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.75rem;
}

.product-info {
    padding: 12px;
}

.product-title {
    font-size: 1rem;
    margin: 0 0 6px 0;
    color: var(--texto);
}

.product-description {
    font-size: 0.85rem;
    color: var(--texto_secundario);
    margin-bottom: 10px;
    line-height: 1.3;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-weight: bold;
    font-size: 0.95rem;
    color: var(--accent);
}

/*El h2 y el icono del filtro en productos normales */ 
.productos-header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 10px;
    justify-content: center;
    gap: 30px;
}

.filter-btn {
    background-color: transparent;
    color: var(--background);
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Tablet  */
@media (min-width: 600px) and (max-width: 1024px) {

    .productosDestacados {
        display: flex;
        gap: 25px;
        padding-bottom: 15px;
        justify-content: flex-start;
         
    }

    .productosDestacados .product-card {
        flex: 0 0 45%; 
    }

    .product-info {
        padding: 15px;
    }

    .product-title {
        font-size: 1.1rem;
    }

    .product-description {
        font-size: 0.9rem;
    }

    .section-title {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .productosDestacados {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        overflow: visible;
    }

    .productosNormales {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .product-card {
        width: 22%;
        max-width: 300px;
    }

    .product-image img {
        height: 250px;
    }

    .section-title {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .product-card:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    }

    .product-card img:hover {
        cursor: pointer;
    }
    /*Orden de h2 de productos normales y el boton de filtro  */
    .productos-header i {
        order: 1;
    }
    .productos-header h2 {
        order: 2;
    }

}

