:root {
    --background: #0d0d0d;
    --texto: #f5f5f5;
    --texto_secundario: #737373;
    --accent: #00c4cc;
    --call-to-action: #ff4d00;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/montserrat-regular.ttf);
}


/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--texto);
}

/* Header y nav */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Tamaño logo y hover */
header img {
    width: 60px;
}
img[alt="logo"]:hover {
    cursor: pointer;
}

/* Iconos */
i {
    color: var(--call-to-action);
}


/* Menú deslizante */
.menu-overlay {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--background);
    transition: left 0.3s;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.menu-overlay.activo {
    left: 0;
}

.menu-close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Enlaces del menú */
.menu-links {
    flex: 1;
}
.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu li a {
    color: var(--texto);
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 0;
}

/* Botones de login y signup */
.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-buttons a {
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: block;
}
.btn-login {
    background-color: var(--accent);
    color: var(--background);
}
.btn-signup {
    background-color: var(--call-to-action);
    color: var(--texto);
}

/* Footer*/
footer {
    background-color: var(--background);
    color: var(--texto);
    padding: 30px 20px;
    border-top: 1px solid var(--accent);
    font-size: 0.95rem;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.footer-logo {
    width: 60px;
    margin-bottom: 10px;
    filter: brightness(1.1);
}
.footer-info p{
    margin: 0;
    opacity: 0.8;
}

.footer-links a{
    text-decoration: underline;
    opacity: 0.8;
    color: var(--texto);
}

.socials{
    display: flex;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
}

.socials a {
    color: var(--call-to-action);
    font-size: 1.3rem;

}
    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        max-width: 500px;
        margin: 0 20px;
        position: relative;
    }

    .search-bar input {
        width: 100%;
        padding: 8px 40px 8px 15px;
        border: 1px solid var(--accent);
        border-radius: 20px;
        background-color: transparent;
        color: var(--texto);
        font-size: 0.95rem;
        outline: none;
        margin-right: 5px;
    }
@media (min-width: 1025px) {
/* NAV DESKTOP */ 
     nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 60px;
        background-color: var(--background);
        position: relative;
    }

    .nav-desplegable {
        display: none;
    }

    .nav img{
        width: 80px;
    }
    .menu-overlay{
        position: static;
        width: auto;
        height: auto;
        background: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        left: auto;
        transition: none;
    }
    .menu-close {
        display: none;
    }

    .menu-links{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .menu {
        flex-direction: row;
        gap: 40px;
    }

    .menu li a{
        font-size: 1rem;
        padding: 0;
        color: var(--texto);
        text-decoration: none;
        transition: color 0.2 ease;
    }

    .menu li a:hover {
        color: var(--call-to-action);
    }

    .menu-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:15px;
    }

    .menu-buttons a {
        padding: 8px 18px;
        font-size: 0.95rem;
        border-radius: 6px;
    }
    .shop_cart {
        order: 3;
    }
    .menu-toogle {
        display: none;
    }
    .btn-login:hover, .btn-signup:hover{
        cursor: pointer;
       transform: scale(1.05);
       transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    i:hover {
    cursor: pointer;
    color: var(--accent);
    transform: scale(1.1);
    }

    /* FOOTER DESKTOP */ 
    footer {
        padding: 40px 80px;
    }
    .footer-logo {
        width: 70px;
    }

    .footer-links{
        font-size: 1rem;
    }

    .footer-links a:hover {
    color: var(--call-to-action);
    opacity: 1;
}
}